* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.wraper {
    display: flex;
    margin: 10px;
}

.routes-block {
    width: 50%;
    text-align: center;
}

.input {
    width: 80%;
    margin: 20px 30px;
}

ul {
    margin: 20px 38px;
}

.itemListsRoute {
    border: 1px solid grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    padding: 15px;
}